.one-tweet {
	border: 2px solid #5C6BC0;
	padding: 10px;
	border-radius: 5px;
	background-color: rgba(158,158,158,0.7);
}

.tweet-box {
	margin: 30px 30px;
}

body {
	background-image: url("sean_tahoe_007.jpg");
	font-family: Arial;
}

#total-wrap {

	margin: 5px 200px;
	min-height: 1000px;
	border-radius: 5px;
	background-color: rgba(221, 221, 221, 0.5)
}


.time-stamp {

	float: right;
}

.highlight {
	background-color: rgba(128, 128, 128, 0.7);
}

.underline{
	text-decoration: underline;
	font-weight: bold;
}
.header {
	text-align: center;
}

.hidden {
	display: none;
}